<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <ExcludeByFile>**/Captcha/ReCaptcha.cs,**/Database/MariaDatabase.cs,**/Email/SendGridEmailSender.cs,**/OauthVerifier/MicrosoftOauthProvider.cs,</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>